<div>
  <h2 id="page-heading" data-cy="TarefaHeading">
    <span jhiTranslate="unblockItApp.tarefa.home.title">Tarefas</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="unblockItApp.tarefa.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-tarefa"
        [routerLink]="['/tarefa/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="unblockItApp.tarefa.home.createLabel"> Create a new Tarefa </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="tarefas?.length === 0">
    <span jhiTranslate="unblockItApp.tarefa.home.notFound">No tarefas found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="tarefas && tarefas.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="unblockItApp.tarefa.nome">Nome</span></th>
          <th scope="col"><span jhiTranslate="unblockItApp.tarefa.descricao">Descricao</span></th>
          <th scope="col"><span jhiTranslate="unblockItApp.tarefa.dataLimite">Data Limite</span></th>
          <th scope="col"><span jhiTranslate="unblockItApp.tarefa.horaLimite">Hora Limite</span></th>
          <th scope="col"><span jhiTranslate="unblockItApp.tarefa.situacaoTarefa">Situacao Tarefa</span></th>
          <th scope="col"><span jhiTranslate="unblockItApp.tarefa.observacoes">Observacoes</span></th>
          <th scope="col"><span jhiTranslate="unblockItApp.tarefa.coachTarefa">Coach Tarefa</span></th>
          <th scope="col"><span jhiTranslate="unblockItApp.tarefa.squadTarefa">Squad Tarefa</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let tarefa of tarefas; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/tarefa', tarefa.id, 'view']">{{ tarefa.id }}</a>
          </td>
          <td>{{ tarefa.nome }}</td>
          <td>{{ tarefa.descricao }}</td>
          <td>{{ tarefa.dataLimite | formatMediumDate }}</td>
          <td>{{ tarefa.horaLimite }}</td>
          <td jhiTranslate="{{ 'unblockItApp.SituacaoTarefa.' + tarefa.situacaoTarefa }}">{{ tarefa.situacaoTarefa }}</td>
          <td>{{ tarefa.observacoes }}</td>
          <td>
            <div *ngIf="tarefa.coachTarefa">
              <a [routerLink]="['/coach', tarefa.coachTarefa?.id, 'view']">{{ tarefa.coachTarefa?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="tarefa.squadTarefa">
              <a [routerLink]="['/squad', tarefa.squadTarefa?.id, 'view']">{{ tarefa.squadTarefa?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/tarefa', tarefa.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/tarefa', tarefa.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(tarefa)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
